@import "tailwindcss";

@theme { 
  --shadow-soft: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  --shadow-hard: 0px 2px 4px rgba(0, 0, 0, 0.3);
  --shadow-hover: 0px 2px 20px rgba(0, 0, 0, 0.4);
  --shadow-glow: 0 0 15px rgba(59, 130, 246, 0.5);
  --shadow-inner-lg: inset 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

@font-face {
  font-family: Arabic;
  src: url('./assets/fonts/Alexandria-VariableFont_wght.ttf');
}

@font-face {
  font-family: Comfortaa;
  src: url('./assets/fonts/Comfortaa-VariableFont_wght.ttf');
}

@font-face {
  font-family: Abominable;
  src: url('./assets/fonts/Abominable-Condensed-fc.otf');
}

body{
  font-family: Arabic;
}

.dark-background{
  position: fixed;
  z-index: 99;
  background: rgba(0,0,0, .4);
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
}
